<?xml version="1.0" encoding="UTF-8"?>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.    See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.    The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.    See the License for the
    specific language governing permissions and limitations
    under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-login"
        version="1.0.0">
        <name>Login</name>
        <description>Cordova Login Plugin</description>
        <license>Apache 2.0</license>
        <keywords>cordova,login</keywords>

        <engines>
                <engine name="cordova" version=">=3.0.0" />
        </engines>

        <js-module src="www/login.js" name="login">
                <clobbers target="window.Login" />
        </js-module>

        <!-- ios -->
        <platform name="ios">

            <config-file target="config.xml" parent="/*">
                <feature name="Login">
                    <param name="ios-package" value="Login" />
                    <param name="onload" value="true" />
                </feature>
            </config-file>

            <!-- Plugin source code -->
            <header-file src="src/ios/Login.h" />
            <source-file src="src/ios/Login.m" />

        </platform>

        <!--android -->
        <platform name="android">
            <config-file target="res/xml/config.xml" parent="/*">
                <feature name="Login">
                    <param name="android-package" value="com.baidu.Login"/>
                </feature>
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest/application">
                <activity android:name=".UcLoginActivity" />
                <activity android:name=".LoginActivity" android:theme="@android:style/Theme.NoTitleBar" />
                <activity android:configChanges="keyboardHidden|orientation"
                          android:label="@string/login_activity_name"
                          android:launchMode="singleTop"
                          android:name=".PassLoginActivity"
                          android:screenOrientation="portrait"
                          android:theme="@style/SapiTheme" />
            </config-file>

            <config-file target="AndroidManifest.xml" parent="/manifest">
                <uses-permission android:name="android.permission.INTERNET" />
                <uses-permission android:name="android.permission.READ_PHONE_STATE" />
                <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
                <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
                <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
                <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
                <uses-permission android:name="android.permission.WRITE_SETTINGS" />
                <uses-permission android:name="android.permission.RECEIVE_SMS" />
                <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
                <uses-permission android:name="android.permission.BLUETOOTH" />
                <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
                <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
                <uses-permission android:name="android.permission.GET_TASKS" />
                <uses-permission android:name="android.permission.GET_ACCOUNTS" />
                <!--扫描二维码需要的权限-->
                <uses-permission android:name="android.permission.CAMERA" />
                <uses-permission android:name="android.permission.VIBRATE" />
                <uses-permission android:name="android.permission.FLASHLIGHT" />
                <!-- 语音登录权限 -->
                <uses-permission android:name="android.permission.RECORD_AUDIO" />
                <!--使用短信登录、一键注册功能时需要的权限-->
                <uses-permission android:name="android.permission.SEND_SMS" />
            </config-file>

            <source-file src="src/android/com/baidu/Login.java" target-dir="src/com/baidu" />
            <source-file src="src/android/com/baidu/PostLogin.java" target-dir="src/com/baidu" />
            <source-file src="src/android/com/baidu/bce/LoginActivity.java" target-dir="src/com/baidu/bce" />
            <source-file src="src/android/com/baidu/bce/PassLoginActivity.java" target-dir="src/com/baidu/bce" />
            <source-file src="src/android/com/baidu/bce/UcLoginActivity.java" target-dir="src/com/baidu/bce" />
        </platform>

        <!-- browser -->
        <platform name="browser">

            <js-module src="src/browser/LoginProxy.js" name="LoginProxy">
                <merges target="" />
            </js-module>

        </platform>

</plugin>
